.Create-form{
    background-color: #FFF;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
    width: 100%;
    max-width: 400px;
}
.btnOpen{
    width: 200px;
}
.error-message{
  color:red
}
.successMessage{
  color: green;
  font-size: 25px;
  font-weight: 500;
}
.no-tasks-message {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  margin-top: 20px;
}

/* Adjust the path and include it in the component */
.filter-container {
  margin: 20px 0;
  display: flex;

}

.filter-button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color:#FFF;
  border-radius: 12px;
}

.filter-button.active {
  background-color: #007bff;
  color: white;
}

.priorityLow {
 color:green;
 font-size: 25px;
}

.priorityMedium {
  color: orange;
}

.priorityHigh {
  color: red;
}



@media (min-width: 768px) {
    .Create-form {
      max-width: 500px; 
    }
  }
  
  @media (min-width: 1024px) {
    .Create-form {
      max-width: 600px; 
  }

}