   
  button {
    width: 65%;  // Make button full width
    padding: 10px;
  }
  .login-page{
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
     width:700px;
     margin:50px  auto;
    padding: 80px;
    background-color: rgb(250, 251, 252);
    
  }

  .mobileNavBar {
    position: relative;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
  }
  
  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #007bff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .navLinks a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
  }
  
@media only screen and (max-width: 786px) {
  .login-page{
    width: 100%;
    padding: 40px;
    flex-direction: column;
  }
}
