.form-container {
    background-color: #f5f5f5; // Choose your preferred color
    padding: 20px;  // Add some padding for spacing
    border-radius: 8px;  // Optional: to round the corners
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);  // Optional: for a subtle shadow
    margin:14px 0;
    padding: 20px;
    width: 500px;
   

  }
  
 